target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.polaris-coverity.zip
coverity_results-v10.json
.synopsys/
idir*/

.restconfig.json
bd_status/*
rapid_result_with_policies.sarif.json
rapid_result_with_policies.sarif.json.debug
full_result.json
full_result.json.debug
.coverity
component_vulnerabilities.json
full_result.sarif.json
seekerResponse.sarif.json
seekerResults.json
coverity_auth_key.json
